@import 'reset';
@import 'variables';

body {
    font-family: var(--font-regular);
    color: var(--font-color);
    background-color: var(--background-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-title);
}
